 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}
nav {
  display: flex;
  justify-content:space-evenly;
  background-color: #000;
  padding: 15px 80px;
}
.nav-title {
  font-size: 28px;
  color: white;
}
.nav-links {
  list-style: none;
  display: flex;
   gap: 50px;
}
.nav-links a {
  text-decoration: none;
  font-size: 25px;
  color: rgb(161, 161, 161);
}
.nav-links :hover {
  color: rgb(255, 255, 255);
}
.nav-links :active {
  color: rgb(255, 255, 255);
}
.nav-links :focus {
  color: rgb(255, 255, 255);
}
.btn {
  width: 100px;
  height: 30px;
  color: #ffffff;
  font-size: 18px;
  background-color: rgb(84, 219, 246);
}
.menu-icon {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }
  .nav-links {
    display: none;
  }
}
.container{
display:flex;
justify-content:center;
gap:40px;
margin-top:40px;
}

.left, .right{
display:flex;
flex-direction:column;
gap:30px;
}
.card{
width:500px;
border:2px solid #d3d3d3;
background:white;
}

.card-header{
background:#2a9cab;
height:100px;
}

.card-body{
padding:30px;
position:relative;
}

.profile-img{
width:90px;
border-radius:50%;
border:5px solid white;
position:absolute;
top:-40px;
left:30px;
background:white;
}
h2{
    margin-top:20px;
}
.location{
margin:8px 0;
}

.icon{
width:15px;
margin-right:5px;
}

.date{
color:#888;
margin:5px 0;
}

.card-header-dark{
background:#3d3d3d;
color:white;
padding:12px 20px;
font-size:20px;
}

.card-small{
width:300px;
border:2px solid #d3d3d3;
background:white;
}
.user{
display:flex;
justify-content:space-between;
align-items:center;
padding:12px 15px;
}

.user-info{
display:flex;
align-items:center;
gap:10px;
}

.avatar{
width:35px;
border-radius:50%;
}

.actions{
width:25px;
cursor:pointer;
margin-left:5px;
}

.user-connections{
display:flex;
align-items:center;
gap:10px;
padding:10px 20px;
}

.badge{
background:#999;
border-radius:50%;
padding:3px 8px;
margin-right:10px;
}
.view-more{
padding:10px 20px;
text-decoration:underline;
border-top:2px solid #d3d3d3;
color:#0b5ed7;
cursor:pointer;
}
